.form-filed-block{
  margin-top: .5rem;
}
.form__legend-title {
  font-size: 3rem;
  color: #414141;
  font-family: var(--fontFamilyTrade), sans-serif;
}
.form-field-block__label,
.form-field-block__input {
  display: block;
  font-size: 1rem;
  color: #414141;
  width: 100%;
}
.form-field-block__input {
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: .75rem 0;
  width: 100%;
  color: #ffffff;
  background-color: inherit;
  font-family: var(--fontFamilyTrade), sans-serif;
  font-weight: bold;
}
::-webkit-input-placeholder { /* Edge */
  color: #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}
.form__field_danger {
  border-color: red;
}
.form-filed__button {
  outline: none;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 700;
  border: none;
}
.form-filed__button:hover {
  opacity: .8;
}
.button_block {
  display: block;
  width: 100%;
}
.form-field-block__error-message {
  color: red;
  font-size: 14px;
}
