/* hero is like a jumbotron in bootstrap */
.hero {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--blue);
}
.hero-full_height {
  height: 90vh;
  min-height: 500px;
}

@media (min-width: 576px) {
  .hero {
    padding: 4rem 2rem;
  }
}

.hero-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}