.page {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: var(--fontFamilyTrade), sans-serif;
  overflow: hidden;
}
.page__title {
  color: var(--white);
  font-size: 2.25rem;
  font-family: var(--fontFamilyJanna), sans-serif;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1.2rem;
  border-left: 5px solid var(--blue);
}
blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}
p {
  margin-bottom: 1rem;
}
.page-container h1 {
  font-size: 3rem;
}
.page-container h2 {
  font-size: 2.5rem;
}
.page-container h3 {
  font-size: 2rem;
}

.page-container h4 {
  font-size: 1.75rem;
}
.page-container h5 {
  font-size: 1.5rem;
}
.page-container h6 {
  font-size: 1rem;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  text-align: center;
}

.page-container iframe {
  display: block;
  width: 100%;
}

.page-container .has-text-align-right,
.page-container .alignright {
  text-align: right;
}
.page-container .has-text-align-center,
.page-container .aligncenter {
  text-align: center;
}
.page-container .has-text-align-left,
.page-container .alignleft {
  text-align: left;
}
.page figure {
  text-align: center;
}
.page figure img,
.page img {
  max-width: 100%;
}
.page a {
  color: var(--blue);
  font-weight: 600;
}
.page a:hover,
.page a:focus,
.page a:active,
.page a:visited {
  color: var(--purple);
}