.fake-block {
  height: 50px;
}
.preinscription-block {
  background-color: #f2f2f2;
  padding: 2rem 0;
}
.form-legend {
  font-size: 1.5rem;
  margin: 2.25rem 0;
  font-family: var(--fontFamilyTrade), sans-serif;
  letter-spacing: 1px;
}
.preinscription-block .form-field-block__input {
  color: #414141;
  border-bottom-color: #414141;
}
.preinscription__form {
  background-color: var(--white);
  box-shadow: -5px 5px 11px 1px rgba(0,0,0, .3);
  max-width: 50%;
}
.preinscription-block textarea {
  outline: none;
  resize: vertical;
}
.preinscription__form select {
  margin: 0.75rem 0;
  padding: 0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  display: block;
  border-bottom-width: 0;
}
.select-container::after {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #414141;
}
.preinscription__form .form__button_submit {
  padding: 1rem 3rem;
}
@media only screen and (max-width: 771px) {
  .preinscription__form {
    max-width: 100%;
    width: 100%;
  }
}