.register-form__block {
  position: relative;
  padding: 1.5rem;
  box-shadow: -5px 5px 11px 1px rgba(0,0,0, .3);
}
.register-form__block textarea {
  padding: .75rem 0;
  resize: vertical;
  transition: box-shadow .3s;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
  font-weight: bold;
}

.register-form__block button {
  background-color: var(--orange);
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  border-radius: 1.5rem;
}